*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #1d2d44;
}
hr{
    border: 0.5px solid black;
    width: 100%;
    margin-bottom: 6px;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
}
.content{
    background: #ade8f4;
    padding: 5px;
    width: 400px;
    border-radius: 20px;
}
.content ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content ul li{
    list-style: none;
    text-align: left;
    gap: 20px;
}
.shape{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#draggable div{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(255,255,255,0.5);
}
#draggable div label{
    width: 50%;
    font-size: 20px;
}

.colorBox{
    font-size: 20px;
}
#customColor{
    background: transparent;
    border: none;
}

#canvas{
    background: white;
    border-radius: 6px;
}
.canvasBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: 600;
}
h2{
    text-align: left;
    font-size: 30px;
    color: black;
}
/* all buttons style starts */
button{
    background: transparent;
    border: 0.5px solid gray;
    border-radius: 6px;
    line-height: 1;
    padding: 2px 3px;
    outline: none;
    font-size: 25px;
    width: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover,button:focus,button:active{
    background: white;
}
/* all buttons style ends */



/* slider style */
input[type=range] {
    display: flex;
    appearance: none;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #ff8000;
    border-radius: 1px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ff4800;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #af0101;
}